@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap");

* {
  font-family: "Archivo", sans-serif, monospace;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
