@keyframes pulse {
  0% {
    box-shadow: 0px 2px 150px 8px rgba(202, 209, 77, 0);
  }
  50% {
    box-shadow: 0px 2px 150px 8px rgba(202, 209, 77, 1.2);
  }
  100% {
    box-shadow: 0px 2px 150px 8px rgba(202, 209, 77, 0);
  }
}

.fakemon-card {
  width: 310px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 5px;
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.thumbnail-fakemon-card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.fakemon-card:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
  width: 330px !important;
  height: 530px;
}
.fakemon-image {
  width: 100%;
  height: 60%;
  padding-bottom: 2px;
}
.thumbnail-fakemon-image {
  width: 100%;
  height: 100%;
}
.type-icon {
  float: right;
  margin-inline-start: 0px !important;
  width:30px
}
.thumbnail-type-icon {
  float: right;
  margin-inline-start: 0px !important;
  width:20px
}

.fakemon-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5%;
}

.fakemon-info {
  padding: 0px 10px 10px 10px;
  height: 160px;
  display: flex;
  flex-direction: column;
}
.fakemon-hp {
  float: right;
}
.fakemon-name {
  font-size: 16px;
  letter-spacing: 0px;
  margin: 0;
  float: left;
}
.thumbnail-fakemon-name {
  font-size: 13px;
  letter-spacing: 0px;
  margin: 0;
  float: left;
}

.fakemon-type {
  font-size: 17px;
  font-weight: bold;
  margin: 0 0 0px;
}

.ability-name {
  float: left;
  align-self: start;
}
.ability-description {
  line-height: 1.5;
  margin: 0 0 10px;
  font-size: 0.8rem;
}

.fakemon-stats {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fakemon-bio {
  font-size: 0.75rem;
  letter-spacing: 0.6px;
}

.fakemon-stats li {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
}

.stat-name {
  font-weight: bold;
  margin-right: 10px;
}
